<div class="w-[1440px] h-[38px]  mx-auto flex justify-center gap-[1086px]  mb-[52px]">
    <div class="font-semibold text-[25px] text-[#1B5A7D]">Latest news</div>
    <div class="font-medium text-[20px] text-[#1B5A7D]">View all</div>
</div>


<div class="w-[1440px] h-auto flex justify-center mx-auto gap-[20px] mb-[40px]">
    <app-productow></app-productow>
    <app-productow></app-productow>
</div>


<div class="flex justify-center gap-[10px] mb-[100px]">
    <input type="radio">
    <input type="radio">
    <input type="radio">
    <input type="radio">
    <input type="radio">
</div>