<div class=" flex w-[1440px] h-[394px] bg-white mx-auto mt-[100px] ">
    <div>
        <div class="block ml-[174px] mt-[66px]">
            <h1 class="  text-[43px] font-bold text-[#1B5A7D] ">Canon</h1>
            <h1 class="  text-[43px] font-bold text-[#1B5A7D]">camera</h1>
        </div>
        <div class="flex w-[309px] h-[61px] gap-[21px] ml-[174px] mt-[19px]">
            <button type="submit" class="w-[144px] h-[61px] bg-[#EDA415] rounded-[20px] text-white">shop now</button>
            <button type="submit" class="w-[144px] h-[61px] rounded-[20px] border-2 border-indigo-600">view more</button>
        </div>
    </div>
    <div class="relative">
        <img src="/assets/header/baner.png" alt="" class=" w-[331px] h-[356px] ml-[490px] my-[38px] ">
        <button type="submit" class="w-[120px] h-[120px] border bg-[#EDA415] rounded-full absolute top-[227px] left-[720px] font-semibold text-[22px] text-white">only <br> $89</button>
    </div>
</div>
