
<div class=" mx-auto flex justify-center relative mb-[54px]">
    <img src="/assets/productone/pexels.png" alt="">
    <div class="absolute mt-[91px] ml-[913px] grip justify-items-center">
        <button type="submit" class="w-[134px] h-[45px] bg-[#EDA415] text-white font-medium text-[14px] rounded-[20px]">New laptop</button>
        <div class="mt-[36px] mb-[36px]">
            <h1 class="font-bold text-[41px] text-[#2E8FC5]">Sale up to 50% off</h1>
            <p class="font-medium text-[18px] text-white">12 inch hd display</p>
        </div>
        <button type="submit" class="w-[134px] h-[45px] bg-[#EDA415] text-white font-medium text-[14px] rounded-[20px]">shop now</button>
    </div>
</div>