<div class="mx-auto flex w-[1222px] h-[147px]  justify-center mt-[52px] mb-[78px] gap-[39px] ">
    
        <div class="flex gap-[40px] justify-center items-center w-[381px] h-[147px] rounded-[20px] border-2 border-indigo-600 ">
            <img src="/assets/banner2/2 1.png" alt="">
            <div>
                <h1 class="font-semibold text-[#1B5A7D] text-[23px]">Speaker</h1>
                <span>( 6 items )</span>
            </div>
        </div>
        
        <div class="flex gap-[40px] justify-center items-center w-[381px] h-[147px] rounded-[20px] border-2 border-indigo-600 ">
            <img src="/assets/banner2/5 1.png" alt="">
            <div>
                <h1 class="font-semibold text-[#1B5A7D] text-[23px]">Speaker</h1>
                <span>( 6 items )</span>
            </div>
        </div>

        <div class="flex gap-[40px] justify-center items-center w-[381px] h-[147px] rounded-[20px] border-2 border-indigo-600 ">
            <img src="/assets/header/baner.png" alt="" class="w-[110px] h-[118px]">
            <div>
                <h1 class="font-semibold text-[#1B5A7D] text-[23px]">Speaker</h1>
                <span>( 6 items )</span>
            </div>
        </div>
        <!-- <img src="/assets/banner2/5 1.png" alt="">
        <div>
            <h1>Speaker</h1>
            <span>( 6 items )</span>
        </div>
        <img src="/assets/banner2/2 1.png" alt="">
        <div>
            <h1>Speaker</h1>
            <span>( 6 items )</span>
        </div> -->
    
</div>
